* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
body {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 15px;
  color: #444;
  margin: 0 auto;
}
/* HERO section */
.section-hero {
background: url(img/background2.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.hero-title {
  justify-self: center;
  color: #03478b;
  font-size: 3rem;
  letter-spacing: -0.5px;
  font-weight: 800;
 
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: transparent;
}
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  
  height: 3rem;

}

footer {
  background-color: #ccd8e0;

  padding: 1rem;
}
.copyright {
  padding: 20px 0;
  text-align: left;
  font-size: 12px;
}
h1,
h2 {
  color: #03478b;
}

h2 {
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 40px;
  font-weight: 800;
  text-align: center;
}
section {
  scroll-margin-top: 100px;
  padding: 1rem;
}
.about {
  background-color: #fcf0e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.about-box {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 0 0 20px 0;
}
.about-img-box {
  max-width: 300px;
  align-self: center;
}
.about-img {
  width: 100%;
}
nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
}

/* Contact form */

.form-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.form {
  list-style: none;
}

.form label {
  display: inline-block;
  text-align: left;
  width: 20%;
  font-size: 15px;
  font-family: inherit;
  color: #444;
  font-weight: 700;
}
.form input,
.form textarea {
  min-width: 300px;
  font-size: inherit;
  font-family: inherit;
  padding: 5px 5px;
  border-radius: 3px;
  border: none;
  
}

form li {
  margin-bottom: 20px;
}
textarea {
  height: 100px;
}
.contact-me {
  padding: 30px 0 0 0;
}
.btn-message {
  
  border: none;
  padding: 8px 50px;
  background-color: #03478b;
  color: #feede0;
  border-radius: 3px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
}
button:hover {
  color: #fff;
  box-shadow: 4px 8px 10px #9abfe9;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  list-style-type: none;
  padding-right: 4rem;
  color: #03478b;
}

.author {

  padding-left: 4rem;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.projects-box {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.project {
  border: 2px solid rgb(215, 215, 215, 0.5);
  padding: 10px;
  flex: 1;
  line-height: 2rem;
  max-width: 400px;
 
}

.project-photo {
  width: 100%;
}

.project-skills {
  font-style: italic;
  color: rgb(68, 68, 68, 0.6);
}
.see-more a:link,
a:visited {
  color: #03478b;
  text-decoration: none;
}
.see-more a:hover {
  text-decoration: underline;
}
.skills-box {
  display: flex;
  justify-content: center;
  gap: 2%;
}
.skill-container {
  background-color: #e1e3e7;
  max-height: 10rem;
  max-width: 10rem;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  padding: 2%;
}

span {
  font-size: 60px;
  color: #444;
  align-self: self-end;
}

.container-bar {
  width: 100%;
  background-color: rgb(247, 245, 245);
  border-radius: 2px;
  width: 5rem;
  align-self: self-start;
}

.html {
  padding: 7px 0;
  width: 90%;
  background-color: #ffa700;
  border: 1px solid #ffa700;
  border-radius: 2px;
}

.css {
  padding: 7px 0;
  width: 90%;
  background-color: #ffa700;
  border: 1px solid #ffa700;
  border-radius: 2px;
}

.js {
  padding: 7px 0;
  width: 40%;
  background-color: #ffa700;
  border: 1px solid #ffa700;
  border-radius: 2px;
}
.python {
  padding: 7px 0;
  width: 10%;
  background-color: #ffa700;
  border: 1px solid #ffa700;
  border-radius: 2px;
}
/* mobile menu */
.mobile {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-right: 2rem;
}
.mobile:hover {
  border-radius: 3px;
  padding: 1px;
  background-color: #fcf0e6;
}

.bg {
  background-color: rgb(252, 240, 230);
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.06);
}

/* Back to top button */
.btn-back {
  border: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  background-color: #9abfe9;
  color: #444444;
  font-weight: 700;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}


.btn-back:hover {
  background-color: #0b68bf;
  cursor: pointer;
}



/* do smth at this breakpoint */
@media (max-width: 1020px) {
  nav ul {
    display: none;
  }
  .mobile {
    display: block;
  }
  ul.responsive {
    display: block;
    background-color: #fcf0e6;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
  }
  ul.responsive li {
   
    display: block;
    margin: 1rem;
    margin-left: 4rem;

  }
  .navigation-bar.responsive{
    background-color: #fcf0e6;
  }
  .hero-title {
    font-size: 2rem;
  }
  .author {
   
    padding-left: 2rem;
  }
}


  

@media (max-width: 800px) {
  .about-box {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .projects-box {
    flex-direction: column;
    gap: 1rem;
  }
  .section-hero {
    height: 200px;
 
  }
  .hero-title {
    font-size: 2rem;
  }
  .author {
    font-size: 1.3rem;
    padding-left: 2rem;
  }
  .project {
    text-align: center;
  }
  h2 {
    margin-bottom: 5%;
  }
  .sticky {
    height: 2rem;
  }
  .form label {
    text-align: center;
    margin-bottom: 10px;
  }
}
